.bg {
    display: flex;
    justify-content: var(--centerH);
    align-items: var(--centerV);

    background-color: var(--bgColor);
    
    width: var(--width);
    height: var(--height);

    border-radius: var(--borderRadius);

    margin: 0 auto;
    padding: var(--padding);
}